{% extends "../main.html" %}

{% block title %}Hackers{% end %}

{% block content %}
    {% include ../notifier.html %}
    <div class="container">
    	<h1>Hackers</h1>
    	<br />
    	{% from models import Team %}
    	<div class='row'>
    		<div class='well'>
    			<table class='table table-striped'>
    				<thead>
    					<tr>
    						<th>#</th>
    						<th>Avatar</th>
    						<th>Name</th>
    						<th>Flags Captured</th>
    						<th>Back Account</th>
    						<th>Game Level</th>
    					</tr>
    				</thead>
    				<tbody id='hacker_table'>
    					{% for index, team in enumerate(Team.ranks()) %}
	    					<tr>
	    						<td style='vertical-align:middle' >
	    							{{ index + 1 }}
	    						</td>
	    						<td style='vertical-align:middle' >
	    							<div class='divAvatarHolder' style="background-repeat:no-repeat; background-position: left center; background-size: auto 50px; background-image: url('/avatars/{{ team.members[0].avatar }}'); height:50px;">
	    							</div>
	    						</td>
	    						<td style='vertical-align:middle' >
	    							{{ team.name }}
	    						</td>
	    						<td style='vertical-align:middle' >
	    							{{ len(team.flags) }}
	    						</td>
	    						<td style='vertical-align:middle' >
	    							${{ team.money }}
	    						</td>
	    						<td style='vertical-align:middle' >
	    							{{ team.levels[-1].number }}
	    						</td>
	    					<tr/>
    					{% end %}
    				</tbody>
    			</table>
    		</div>
    	</div>
    </div>
{% end %}