{% extends "../main.html" %}

{% block title %} Contribute {% end %}

{% block content %}
	<div class="container">
		<h1>Contribute to Grey H@t RTB</h1>
		<br />
		<div class="well">
			<h2>Table of Contents</h2>
			<ul>
				<li><a href='#start'>Getting Started</a></li>
				<li><a href='#dataobjects'>XML Data Objects</a></li>
				<li><a href='#sample'>Sample XML File</a></li>
				<li><a href='#additional'>Additional Schema Information</a></li>
				<li><a href='#done'>Who to Contact</a></li>
			</ul>
			<h2 name='start'>Getting Started</h2>
			<p>
				So you'd like to help contribute to the Grey H@t Root the Box?! That's great! We'd love to have your help!
				We've even made efforts to make contributing to the project as easy as possible! At this point in time, if you'd like to contribute,
				you must create an entire 'box', or group of flags, at a time. This box can be specified using a simple XML schema.
			</p>
			<h2 name='dataobjects'>XML Data Objects</h2>
			<h5>Box</h5>
			<ul>
				<li>level - The level that the box should be added to. Valid values are 0 - 9. (REQ'D)</li>
				<li>name - The name to give the box. (REQ'D)</li>
				<li>difficulty - A string representing the difficulty of the level (e.g. Easy, Medium Hard). (REQ'D)</li>
				<li>avatar - The name of an image file (jpeg, png) to associate with the box. Aspect ratio should be 2w*1h. This image file must be supplied alongside the XML document. (REQ'D)</li>
				<li>description - A description of the box and the flags contained within it. This is the meat of the challenges, and should contain enough instruction for users to obtain the contained flags without requiring additional instruction. (REQ'D)</li>
				<li>sponsor - If the box is sponsored, this will contain information regarding the box's sponsor. Sponsors can be individuals or organizations.</li>
				<li>corporation - The corporation that the box should be affiliated with. Logically, this is just a grouping of boxes (for instance, all crypto-based boxes should have the corporation named 'Introduction to Crypto' listed here). (REQ'D)</li>
				<li>flags - A list of flag objects to associate with the box. (REQ'D)</li>
				<li>resources - A list of resource objects to associated with the box. These resources should be links to pages containing information regarding the box's challenges.</li>
			</ul>
			<h5>Sponsor</h5>
			<ul>
				<li>name - The name of the sponsor. (REQ'D)</li>
				<li>description - Description of the sponsor. (REQ'D)</li>
				<li>url - A URL where users can get more information about the sponsor. (REQ'D)</li>
				<li>logo - The name of an image file (jpeg, png) to associate with the sponsor. (REQ'D)</li>
			</ul>
			<h5>Corporation</h5>
			<ul>
				<li>name - The name of the corporation to associate with the box. (REQ'D)</li>
				<li>description - A description of the corporation to associate with the box. (REQ'D)</li>
			</ul>
			<h5>Flag</h5>
			<ul>
				<li>name - A name to associate with the flag. (REQ'D)</li>
				<li>token - The token that must be submitted to capture the flag. (REQ'D)</li>
				<li>description - A short description of the flag. (REQ'D)</li>
				<li>value - A value ranging from 0.0-1.0 the reflects the portion of box points to associate with this flag. The cumulative values across all flags associated with a single box must sum up to 1.0. (REQ'D)</li>
				<li>case - A boolean depicting whether or not the value supplied in 'token' should be considered case-sensitive.</li>
			</ul>
			<h5>Resource</h5>
			<ul>
				<li>url - The URL for the resource. (REQ'D)</li>
				<li>tag - A link text to place on the box page. (REQ'D)</li>
				<li>description - A detailed description regarding the contents of the page the link points to. (REQ'D)</li>
			</ul>
			<h2 name='sample'>Sample XML File</h2>
			<pre>
&lt;?xml version=&quot;1.0&quot;?&gt;
&lt;box&gt;
	&lt;level&gt;1&lt;/level&gt;
	&lt;sponsor&gt;
		&lt;name&gt;lavalamp&lt;/name&gt;
		&lt;description&gt;
			Hacker by day, hacker by night, lavalamp is an avid computing enthusiast and security analyst.
		&lt;/description&gt;
		&lt;url&gt;https://greyhat.gatech.edu&lt;/url&gt;
		&lt;logo&gt;lavalamp.jpg&lt;/logo&gt;
	&lt;/sponsor&gt;
	&lt;corporation&gt;
		&lt;name&gt;Cryptographers Anonymous&lt;/name&gt;
		&lt;description&gt;A global support group for people that enjoy cryptography a little more than they should&lt;/description&gt;
	&lt;/corporation&gt;
	&lt;name&gt;Introduction to Crypto&lt;/name&gt;
	&lt;difficulty&gt;Easy&lt;/difficulty&gt;
	&lt;avatar&gt;crypto_0_avatar.jpg&lt;/avatar&gt;
	&lt;description&gt;
As per Wikipedia, cryptography is &quot;the practice and study of techniques for secure communication in the presence of third parties.&quot; On a basic level, it is the idea of encoding data in such a way that (hopefully) ensures that only allowed parties can view the data. It is the digital version of the physical safe!

The foundations of modern cryptography are many times more complex than historical attempts at cryptography - modern crypto uses number theory and mathematical proofs to guarantee certain levels of privacy. However, crypto has been used as far back as 1,900 B.C. to help secure information from prying eyes!

The flags on this box cover some of the most elementary and well-known ciphers out there. First, let's take a look at the Caesar (or shift) cipher.

--- Caesar Cipher ---

Chances are that you have used a Caesar cipher at some point in your life. If you've ever seen the movie 'A Christmas Story,' you've seen one in action! A Caesar cipher is where the alphabet in which a message is written is shifted in a direction by a number of spaces. For instance, a Caesar cipher of +5 would take each letter of the alphabet and replace it with the letter that is 5 spots to the right of it. This would result in the following transformations:

A -&gt; F
B -&gt; G
C -&gt; H
D -&gt; I
...
Z -&gt; E

Using this Caesar cipher of +5, let's encrypt the phrase 'helloworld' with it:

'helloworld' - original
'mjqqtbtwqi' - encrypted with Caesar cipher of +5

It's as simple as that! Needless to say, a Caesar cipher does not provide very much security!

--- Flags ---

1 - Apply a Caesar cipher of -3 on the phrase 'thisshouldbefun'
	&lt;/description&gt;
	&lt;flags&gt;
		&lt;flag&gt;
			&lt;name&gt;Caesar -3&lt;/name&gt;
			&lt;token&gt;QEFPPELRIAYBCRK&lt;/token&gt;
			&lt;description&gt;Caesar cipher of -3 on 'thisshouldbefun'&lt;/description&gt;
			&lt;value&gt;50&lt;/value&gt;
			&lt;case&gt;False&lt;/case&gt;
		&lt;/flag&gt;
	&lt;/flags&gt;
	&lt;resources&gt;
		&lt;resource&gt;
			&lt;url&gt;http://www.studentpulse.com/articles/41/a-brief-history-of-cryptography&lt;/url&gt;
			&lt;tag&gt;A Brief History of Cryptography&lt;/tag&gt;
			&lt;description&gt;
				Details about the history of cryptography, motivations for using it, and crypto's role in modern life.
			&lt;/description&gt;
		&lt;/resource&gt;
		&lt;resource&gt;
			&lt;url&gt;http://en.wikipedia.org/wiki/Caesar_cipher&lt;/url&gt;
			&lt;tag&gt;Wikipedia on Caesar Cipher&lt;/tag&gt;
			&lt;description&gt;
				An in-depth explanation of what the Caesar cipher is, how it works, what it's been used for, and how to break it.
			&lt;/description&gt;
		&lt;/resource&gt;
	&lt;/resources&gt;
&lt;/box&gt;
			</pre>
			<h2 name='additional'>Additional Schema Information</h2>
			<h2 name='done'>Who to Contact</h2>
		</div>
	</div>
{% end %}