{% extends "../main.html" %}

{% block title %}Root the Box{% end %}

{% block content %}
	<style type="text/css">
		@keyframes welcome {
			0% {background-color:#000000; height:2px;}
			5% {background-color:#33b5e5;}
			10% {background-color:#000000;}
			15% {background-color:#33b5e5;}
			20% {background-color:#000000;}
			25% {background-color:#33b5e5;}
			30% {background-color:#000000;}
			35% {background-color:#33b5e5;}
			40% {background-color:#000000; height:2px;}
			100% {height:566px; background-color:rgba(0,0,0,0.75);}
		}
		
		@-webkit-keyframes welcome {
			0% {background-color:#000000; height:2px;}
			5% {background-color:#33b5e5;}
			10% {background-color:#000000;}
			15% {background-color:#33b5e5;}
			20% {background-color:#000000;}
			25% {background-color:#33b5e5;}
			30% {background-color:#000000;}
			35% {background-color:#33b5e5;}
			40% {background-color:#000000; height:2px;}
			100% {height:566px; background-color:rgba(0,0,0,0.75);}
		}
		
		@keyframes appear {
			0% {display:none; opacity:0.0;}
			1% {display:block; opacity:0.01;}
			100% {display:block; opacity:1.0;}
		}
		
		@-webkit-keyframes appear {
			0% {display:none; opacity:0.0;}
			1% {display:block; opacity:0.01;}
			100% {display:block; opacity:1.0;}
		}
    </style>
	<div class="container">
		<div class="well" style="background-image: url(/static/images/rtb2.png); background-size:contain; background-size:100%; width:842px;height:596px;">
			{% from libs.ConfigManager import ConfigManager %}
			<div class='divWelcomeContainer' style='background-color:rgba(0,0,0,0.75); width:822px; height:566px; padding:10px; animation:welcome 5s; -webkit-animation:welcome 5s;'>
				<h2 style='opacity:0; height:auto; width:auto;animation:appear 2s forwards; animation-delay:5s;-webkit-animation:appear 2s forwards; -webkit-animation-delay:5s;'>
					Welcome to Grey H@t Root the Box
				</h2>
				<br/>
				<div style='line-height:23px; font-size:23px; opacity:0; height:auto; width:auto; margin:0; animation:appear 2s forwards; animation-delay:5.5s;-webkit-animation:appear 2s forwards; -webkit-animation-delay:5.5s;'>
					Hello and welcome to Grey H@t's instance of the Root the Box project.
					<br/>
					<br/>
					This project serves to help educate anyone and everyone who is interested in learning about the world of information security. 
					From time to time, the application may have live CTF competitions going on (see <a href='https://greyhat.gatech.edu' target='_blank'>Grey H@t's site</a> for more information)
					but for all the rest of the time, this project will host educational exercises for learning the ins and outs of all topics related to 
					the information security field.
					<br/>
					<br/>
					So go ahead and hop in! Whether you're a total n00b or a skilled veteran, we hope that this project will contain sufficient material to 
					increase your knowledge about the in-depth and ever-expansive world of information security.
					<br/>
					<br/>
					To get started go ahead and <a href='/register'>REGISTER</a> an account, or <a href='/login'>LOG IN</a> if you already have an account!
					<br/>
					<br/>
					For more information about our <a href='/sponsors'>SPONSORS</a>, the <a href='/about'>PROJECT</a>, <a href='http://rootthebox.com/' target='_blank'>Root the Box</a>, or how YOU can supply educational materials to the project,
					check out the 'About' section at the top menu bar!
				</div>
			</div>
		</div>
	</div>
{% end %}
